.card {

  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 40px;


  // @media screen and (min-width: 919px){
  //   width: 320px;
  //   margin: 10px;
  // } 
  @media screen and (min-width: 896px){
    margin: 10px;
    width: 320px;
  } 
  @media screen and (min-width: 781px){
    margin: 10px;
    width: 320px;
  } 
  @media screen and (max-width: 779px){
    margin: 10px;
    width: 320px;
  } 
  @media screen and (max-width: 699px){
    margin: 10px;
    width: 220px;
  } 
  @media screen and (max-width: 659px){
    margin: 10px;
    width: 280px;
  } 
  @media screen and (max-width: 619px){
    margin: 8px;
    width: 240px;
  } 
  @media screen and (max-width: 539px){
    width: 220px;
  } 
  @media screen and (max-width: 499px){
    margin: 6px;
    width: 200px;
  } 
  @media screen and (max-width: 459px){
    width: 180px;
  } 
  @media screen and (max-width: 403px){
    width: 160px;
  } 
  @media screen and (max-width: 367px){
    width: 140px;
  } 


  &__top {
    background-color: #BAC100;
    color: #BAC100;
    border-radius: 35px 35px 0 0;
    display: flex;
    min-height: 220px;

    @media screen and (max-width: 499px){
      min-height: 160px;
    } 
    @media screen and (max-width: 699px){
      border-radius: 20px 20px 0 0;
    } 
  }

  .isLong {
    height: 420px;

    @media screen and (max-width: 699px){
      height: 320px;
    } 

    @media screen and (max-width: 499px){
      height: 260px;
    } 
  }

  &__bottom {
    background-color: #000;
    color: #fff;
    border-radius: 0 0 35px 35px;
    padding: 20px 48px;
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: space-evenly;


    @media screen and (max-width: 699px){
      padding: 20px;
    border-radius: 0 0 20px 20px;

    } 
  }

  &__text {
    font-weight: 200;
    font-size: 20px;
    margin-top: 8px;


    @media screen and (max-width: 699px){
      font-size: 12px;
    } 
    @media screen and (max-width: 419px){
      font-size: 9px;
    } 
    
  }
}

.span {
  text-transform: uppercase;
  color:#BAC100;
  margin-bottom: 8px;
      @media screen and (max-width: 699px){
      font-size: 12px;
    } 
    @media screen and (max-width: 419px){
      font-size: 10px;
    } 
    
}