html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: 300;
}

.title {
  font-weight: 700;
  font-size: 42px;
}

.header {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
}

.btn {
  border: none;
  padding: 8px 32px;
  border-radius: 4px;
}

.btn__primary {
  background-color: #BAC100;
  color: #fff;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
