html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: 300;
}

.title {
  font-weight: 700;
  font-size: 42px;


  @media screen and (max-width: 699px){
  font-size: 24px;
  } 
  @media screen and (max-width: 419px){
  font-size: 16px;
    line-height: 18px;
  } 
}

.header {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;

    @media screen and (max-width: 1012px){
      line-height: 45px;
      font-size: 40px;
      align-items: center;
    } 

    @media screen and (max-width: 640px){
      line-height: 25px;
      font-size: 24px;
    } 
}

.btn {
  border: none;
  padding: 8px 32px;
  border-radius: 4px;
}

.btn__primary {
  background-color: #BAC100;
  color: #fff;
  font-weight: 400;
}

.btn__rounded {
  border-radius: 60px;
  text-align: center;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lineInput {
  border-bottom: 1px solid rgb(179, 179, 179);
  border-top: none;
  border-left: none;
  border-right: none;
}

.chakra-slide {
      background-color: #BCC015;
}

.home {
  width: 100%;
  overflow-x: hidden;
}